*{
	padding: 0;
	margin: 0;
	border: 0;
}
body{
	background-color: #272822;
}
.circle{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	position: fixed;
	transition:transform 0.5s;
	-webkit-transition:-webkit-transform 0.5s;
}
.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.orange{
	background-color: orange;
}
.purple{
	background-color: purple;
}
.pink{
	background-color: pink;
}
.gray{
	background-color: gray;
}
.white{
	background-color: white;
}
.darkgree{
	background-color: #15ee2f;
}
.lightblue{
	background-color: #08f8ea;
}
#dongh{
	width: 100px;
	height: 100px;
	margin: 100px 0 0 100px;
	background-color: red;
	transition:width 2s 1s,height 2s 1s,transform 2s 1s;
	-webkit-transition:width 2s 1s,height 2s 1s,background-color 2s 1s,-webkit-transform 2s 1s;
}
@keyframes donghua{
	0%{
		width: 100px;
		height: 100px;
		background-color: #1ef219;
		margin: 100px 0 0 100px;
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	50%{
		width: 150px;
		height: 150px;
		background-color: #19f2e5;
		margin: 50px 0 0 500px;
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100%{
		width: 100px;
		height: 100px;
		background-color: #1ef219;
		margin: 100px 0 0 100px;
		transform:rotate(-360deg);
		-webkit-transform:rotate(-360deg);
	}
}
@-webkit-keyframes donghua{
	0%{
		width: 100px;
		height: 100px;
		background-color: #1ef219;
		margin: 100px 0 0 100px;
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	50%{
		width: 150px;
		height: 150px;
		background-color: #19f2e5;
		margin: 50px 0 0 500px;
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100%{
		width: 100px;
		height: 100px;
		background-color: #1ef219;
		margin: 100px 0 0 100px;
		transform:rotate(-360deg);
		-webkit-transform:rotate(-360deg);
	}
}

